html {
  font-family: 'Brother 1816', sans-serif;
  font-style: normal;

  color: #2f2f2f;
  background-color: #fff;
}

.home-banner {
  background-image: url("../images/me-banner.jpg");
  background-repeat: no-repeat;
  background-size: 90% auto;
  background-position: center 4em;
}

.home-img-me {
  min-height: 250px;
}

.logo {
  max-width: 100px;
}

.logo-wrap {
  text-align: center;
}

.nav-wrapper {
  max-width: 65em;
}

.footer-wrapper {
  max-width: 40em;
}

.fa:hover {
  color: #ff5858;
}

.fa {
  color: #000000;
}

.nav-header {
  color: #000000;
  text-decoration: none;
}

.nav {
  font-size: 0.75rem;
  position: fixed;
  background-color: #64ffff;
  width: 100%;
  left: 0;
  top: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  z-index: 1001;
}

.nav-list {
  text-align: center;
}

.current {
  border-bottom: 4px solid #64ffff;
  border-width: thick;
}

.current:hover {
  background-color: #ff5858;
}

.about-btn {
  padding: .5em;
  border: 2px solid #64ffff;
  border-radius: 0;
  color: #000000;
  text-decoration: none;
  background-color: #fff;
}

.about-btn:hover {
  border: 2px solid #ff5858;
  background-color: #fff;
  color: #000;
}

.arrow {
  z-index: 2000;
}

.project-cards {
  max-width: 980px;
}

.card {
  position: relative;
  overflow: hidden;
}

.card-btn {
  text-decoration: none;
  color: black;
}

/* .card-intros {
  position: relative;
  overflow: hidden;
} */

.card:hover .homecard-content {
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 1;
  transition: .4s ease;
}

.card-standard {
  max-width: 477px;
  max-height: 377px;
  margin: 0;
}
/*
.homecard-intros {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
} */

.homecard-content {
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
  transition: .4s ease;
  width: 100%;
  padding-top: 15em;
  padding-bottom: 15em;
}

.card-title {
  font-weight: 400;
  color: black;
}

.homecard-content:hover {
  opacity: 1;
}

.about-img {
  max-width: 85%;
  padding-bottom: 4em;
}

.banner-print {
  background-image: url("{{site.baseurl}}/images/table-mockup.jpg");
  background-attachment: fixed;
  background-size: 100% auto;
  background-position: center 1em;
  padding-bottom: 40%;
  background-repeat: no-repeat;
}

.header-description {
  color: #a7a7a7;
}

.print-h1 {
  padding-top: 5em;
}

/* 404 page */
.html-404 {
  background-image: url("../images/404.gif");
  background-repeat: no-repeat;
  background-size: 90% auto;
  background-position: center 4em;
  min-height: 600px;
}

@media only screen and (min-width: 25em) {

  .logo {
    padding-bottom: 1.5em;
  }

}

@media only screen and (min-width: 38em) {

  .logo {
    padding-bottom: 0;
  }

  .logo-wrap {
    text-align: left;
  }

  .nav-list {
    text-align: right;
  }

  .home-banner {
    background-size: 90% auto;
    background-position: center 3em;
  }

  .home-img-me {
    min-height: 350px;
  }

}
@media only screen and (min-width: 60em) {

  .body {
    padding-left: 100px;
    padding-right: 100px;
  }

  .home-banner {
    background-size: 70% auto;
    background-position: left bottom;
  }

  .home-img-me {
    min-height: 350px;
  }
