---
---

html {
  font-family: 'Cabin', sans-serif;
  color: #2f2f2f;
  background-color: #fff;
}

.logo {
  max-width: 100px;
}

.header-nav {
  color: #000000;
  text-decoration: none;
}

.nav {
  font-size: 0.75rem;
  position: fixed;
  background-color: #fff;
  width: 100%;
  left: 0;
  top: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  z-index: 1001;
}

.home-banner{
  max-width: 980px;
}

.about-button {
  padding: .5em;
  border: 2px solid #64ffff;
  color: #000000;
  text-decoration: none;
}
.project-cards {
  max-width: 980px;
}

.card {
  position: relative;
  overflow: hidden;
}

.homecard-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.current {
  border-bottom: 4px solid #8f8f8f;
  border-width: thick;
}

.banner-print {
  background-image: url("{{site.baseurl}}/images/table-mockup.jpg");
  background-attachment: fixed;
  background-size: 100% auto;
  background-position: center 1em;
  padding-bottom: 40%;
  background-repeat: no-repeat;
}

.header-description {
  color: #a7a7a7;
}

.print-h1 {
  padding-top: 5em;
}

@media only screen and (min-width: 25em) {


}

@media only screen and (min-width: 38em) {


}
@media only screen and (min-width: 60em) {

  .body {
    padding-left: 100px;
    padding-right: 100px;
  }
