html {
  font-family: 'Brother 1816', sans-serif;
  font-style: normal;

  color: #2f2f2f;
}

.home-banner {
  background-image: url("../images/me-banner.jpg");
  background-repeat: no-repeat;
  background-size: 90% auto;
  background-position: center 4em;
  padding-top: 2em;
}

.home-img-me {
  min-height: 250px;
}

.logo {
  max-width: 100px;
}

.logo-wrap {
  text-align: center;
}

.nav-wrapper {
  max-width: 65em;
}

.footer-wrapper {
  max-width: 40em;
}

.footer {
  background-color: #e2e2e2;
}

.fa:hover {
  color: #ff5858;
}

.fa {
  color: #000000;
}

.nav-header {
  color: #fff;
  text-decoration: none;
}

.nav {
  font-size: 0.75rem;
  position: fixed;
  background-color: #2f2f2f;
  width: 100%;
  left: 0;
  top: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  z-index: 1001;
}

.nav-list {
  text-align: center;
}

.current {
  border-bottom: 4px solid #64ffff;
  border-width: thick;
}

.nav-list-2:hover {
  border-bottom: 4px solid #ff5858;
  border-width: thick;
}

.arrow {
  max-height: 20px;
  z-index: 1;
}

.about-btn {
  padding: .5em;
  border: 3px solid #2f2f2f;
  border-radius: 0;
  color: #000000;
  text-decoration: none;
  background-color: #fff;
}

.about-btn:hover {
  border: 3px solid #64ffff;
  background-color: #fff;
  color: #ff5858;
}

.project-cards {
  max-width: 980px;
}

.card {
  position: relative;
  overflow: hidden;
}

.card-btn {
  text-decoration: none;
  color: black;
}

.card:hover .homecard-content {
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 1;
  transition: .4s ease;
}

.card-standard {
  max-width: 477px;
  max-height: 377px;
  margin: 0;
}

.homecard-content {
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
  transition: .4s ease;
  width: 100%;
  padding-top: 15em;
  padding-bottom: 15em;
}

.card-title {
  font-weight: 400;
  color: black;
}

.homecard-content:hover {
  opacity: 1;
}

.mediaplus {
  color: #000;
}

/* CASE STUDIES */
/* .banner-print {
  background-image: url("{{site.baseurl}}/images/table-mockup.jpg");
  background-attachment: fixed;
  background-size: 100% auto;
  background-position: center center;
  padding-bottom: 10%;
  background-repeat: no-repeat;
} */

.header-description {
  color: #a7a7a7;
}

.banner-pad-top {
  padding-top: 4.5em;
}
/*
.print-h1 {
  padding: 2em 0 2em 0;
} */

/* 404 page */
.html-404 {
  background-image: url("../images/404.gif");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  min-height: 80vh;
}

.video-pad-t {
  padding-top: 5em;
}

@media only screen and (min-width: 25em) {

  .logo {
    padding-bottom: 1.5em;
  }

}

@media only screen and (min-width: 38em) {

  .logo {
    padding-bottom: 0;
  }

  .logo-wrap {
    text-align: left;
  }

  .nav-list {
    text-align: right;
  }

  .home-banner {
    background-size: 90% auto;
    background-position: center 2em;
  }

  .video-pad-t {
    padding-top: 2em;
  }

  .home-img-me {
    min-height: 350px;
  }

  .banner-pad-top {
    padding-top: 1.75em;
  }

}
@media only screen and (min-width: 60em) {

  .body {
    padding-left: 100px;
    padding-right: 100px;
  }

  .home-banner {
    background-size: 80% auto;
    background-position: left bottom;
  }

  .home-img-me {
    min-height: 350px;
  }

  .banner-pad-top {
    padding-top: 1.25em;
  }
