<nav class="unit-content-center-horizontal grid {{include.navclass}}">
  {% if include.navclass contains 'top' %}
  <div class="unit xs-1 s-1 m-1-3 l-1-3 xl-1-3 logo text-center">
    <img class="img-flex i-64" src="{{site.baseurl}}/images/logo.svg">
  </div>
  {% endif %}
  <ul class="nav unit xs-1 s-1 {% if include.navclass contains 'top' %}m-2-3 l-2-3 xl-2-3{% endif %} list-group-inline text-center push-0">
    <li class="island-1-8">
      <a class="{% if page.url == '{{site.baseurl}}/index.html'%}current{% endif %} header-nav text-center gutter-1-4 pad-t-1-4 pad-b-1-4" href="{{site.baseurl}}/">Home</a>
    </li>
    <li class="island-1-8">
      <a class="{% if page.url == '{{site.baseurl}}/motion.html'%}current{% endif %} header-nav text-center gutter-1-4 pad-t-1-4 pad-b-1-4" href="{{site.baseurl}}/motion/">Motion</a>
    </li>
    <li class="island-1-8">
      <a class="{% if page.url == '{{site.baseurl}}/print.html'%}current{% endif %} header-nav text-center gutter-1-4 pad-t-1-4 pad-b-1-4" href="{{site.baseurl}}/print/">Print</a>
    </li>
    <li class="island-1-8">
      <a class="{% if page.url == '{{site.baseurl}}/ui-ux.html'%}current{% endif %} header-nav text-center gutter-1-4 pad-t-1-4 pad-b-1-4" href="{{site.baseurl}}/ui-ux/">UI/UX</a>
    </li>
    <li class="island-1-8">
      <a class="{% if page.url == '{{site.baseurl}}/web-design.html'%}current{% endif %} header-nav text-center gutter-1-4 pad-t-1-4 pad-b-1-4" href="{{site.baseurl}}/web-design/">Web Design</a>
    </li>
    <li class="island-1-8">
      <a class="header-nav text-center gutter-1-4 pad-t-1-4 pad-b-1-4" href="#contact-me">Contact Me</a>
    </li>
  </ul>
</nav>
