<nav class="unit-content-center-horizontal">
  <ul class="nav {{include.navclass}} list-group-inline text-center push-0">
    <li class="island-1-8">
      <a class="{% if page.url == '{{site.baseurl}}/index.html'%}current{% endif %} header-nav block text-center gutter-1-4 pad-t-1-4 pad-b-1-4" href="{{site.baseurl}}/">Home</a>
    </li>
    <li class="island-1-8">
      <a class="{% if page.url == '{{site.baseurl}}/motion.html'%}current{% endif %} block header-nav text-center gutter-1-4 pad-t-1-4 pad-b-1-4" href="{{site.baseurl}}/motion/">Motion</a>
    </li>
    <li class="island-1-8">
      <a class="{% if page.url == '{{site.baseurl}}/print.html'%}current{% endif %} block header-nav text-center gutter-1-4 pad-t-1-4 pad-b-1-4" href="{{site.baseurl}}/print/">Print</a>
    </li>
    <li class="island-1-8">
      <a class="{% if page.url == '{{site.baseurl}}/ui-ux.html'%}current{% endif %} block header-nav text-center gutter-1-4 pad-t-1-4 pad-b-1-4" href="{{site.baseurl}}/ui-ux/">UI/UX</a>
    </li>
    <li class="island-1-8">
      <a class="{% if page.url == '{{site.baseurl}}/web-design.html'%}current{% endif %} block header-nav text-center gutter-1-4 pad-t-1-4 pad-b-1-4" href="{{site.baseurl}}/web-design/">Web Design</a>
    </li>
    <li class="island-1-8">
      <a class="block header-nav text-center gutter-1-4 pad-t-1-4 pad-b-1-4" href="#contact-me">Contact Me</a>
    </li>
  </ul>
</nav>
