<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="description" content="{{page.description}}">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="https://use.typekit.net/zzm5cni.css">

  <!-- Used by Facebook, Pinterest, Google+ -->
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{page.title}}">
  <meta property="og:url" content="https://katrinasunter.ca">
  <meta property="og:image" content="https://katrinasunter.ca/images/aboutme.jpg">
  <meta property="og:site_name" content="Katrina Sunter">
  <meta property="og:description" content="{{page.description}}">

  <!-- Used by Facebook, Pinterest, Google+ -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{page.title}}">
  <meta name="twitter:url" content="https://katrinasunter.ca">
  <meta name="twitter:description" content="{{page.description}}">
  <meta name="twitter:image" content="https://katrinasunter.ca/images/aboutme.jpg">

</head>
<body class="{{page.bodyClass}}">

  <header class="header island-1-2 push-2">
    <nav class="nav">
      <div class="grid unit-content-center-horizontal">
        <a href="{{site.baseurl}}/" class="unit logo xs-1 s-1 m-1-2 l-1-2 xl-1-2 text-center unit-content-center-vertical block">
          <img class="img-flex" src="{{site.baseurl}}/images/logo.svg">
        </a>
        <ul class="nav-list unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 list-group-inline text-center push-0 unit-content-center-horizontal">
          <li class="island-1-8">
            <a class="{% if page.url == '{{site.baseurl}}/index.html'%}current{% endif %} header-nav text-center gutter-1-4 pad-t-1-4 pad-b-1-4" href="{{site.baseurl}}/">HOME</a>
          </li>
          <li class="island-1-8">
            <a class="{% if page.url == '{{site.baseurl}}/index.html'%}current{% endif %} header-nav text-center gutter-1-4 pad-t-1-4 pad-b-1-4" href="{{site.baseurl}}/#projects">PROJECTS</a>
          </li>
          <li class="island-1-8">
            <a class="{% if page.url == '{{site.baseurl}}/about.html'%}current{% endif %} header-nav text-center gutter-1-4 pad-t-1-4 pad-b-1-4" href="{{site.baseurl}}/about/">ABOUT</a>
          </li>
          <li class="island-1-8">
            <a class="{% if page.url == '{{site.baseurl}}/strategy.html'%}current{% endif %} header-nav text-center gutter-1-4 pad-t-1-4 pad-b-1-4" href="{{site.baseurl}}/strategy/">STRATEGY</a>
          </li>
          <li class="island-1-8">
            <a class="header-nav text-center gutter-1-4 pad-t-1-4 pad-b-1-4" href="#contact-me">CONTACT</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    {{content}}
  </main>


<footer>
  <div id="contact-me" class="pad-b-2 pad-t-2">
    <div class="text-center push-2">
      <h3 class="push-0">Say hi!</h3>
      <a class="push-2">design@katrinasunter.ca</a>
    </div>
    <div class="text-center">
      <a class="inline-block" href="https://www.behance.net/KatSunter">
        <img class="icon i-32" src="{{site.baseurl}}/icons/behance-icon.svg" alt="">
      </a>
      <a class="inline-block" href="https://www.instagram.com/kattysun8/">
        <img class="icon i-32" src="{{site.baseurl}}/icons/instagram-icon.svg" alt="">
      </a>
      <a class="inline-block" href="https://vimeo.com/kattysun8">
        <img class="icon i-32" src="{{site.baseurl}}/icons/vimeo-icon.svg" alt="">
      </a>
      <a class="inline-block" href="https://www.linkedin.com/in/katrina-sunter-b0312781/">
        <img class="icon i-32" src="{{site.baseurl}}/icons/linkedin-icon.svg" alt="">
      </a>
    </div>
  </div>
  <p class="micro text-center">© 2018 Katrina Sunter</p>
</footer>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Katrina Sunter",
    "url": "https://katrinasunter.ca",
    "image": "https://katrinasunter.ca/images/aboutme.jpg",
    "description": "Graphic designer Katrina Sunter portfolio",
    "email": "design@katrinasunter.ca",
    "jobTitle": "Graphic Designer"
  }
</script>

</body>
