<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="desctiption" content="Katrina Sunter's Design Portfolio including graphic design, motion graphics, illustration, print and web design">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/gridifier.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700" rel="stylesheet">

</head>
<body class="{{page.bodyClass}}">

  <header class="header masthead text-center island-1-2">
    <nav class="unit-content-center-horizontal">
      <ul class="list-group-inline text-center push-0">
        <li class="island-1-8">
          <a class="{% if page.url == '{{site.baseurl}}/index.html'%}current{% endif %} header-nav block text-center gutter-1-4 pad-t-1-4 pad-b-1-4 milli" href="{{site.baseurl}}/">Home</a>
        </li>
        <li class="island-1-8">
          <a class="{% if page.url == '{{site.baseurl}}/motion.html'%}current{% endif %} block header-nav text-center gutter-1-4 pad-t-1-4 pad-b-1-4 milli" href="{{site.baseurl}}/motion/">Motion</a>
        </li>
        <li class="island-1-8">
          <a class="{% if page.url == '{{site.baseurl}}/print.html'%}current{% endif %} block header-nav text-center gutter-1-4 pad-t-1-4 pad-b-1-4 milli" href="{{site.baseurl}}/print/">Print</a>
        </li>
        <li class="island-1-8">
          <a class="{% if page.url == '{{site.baseurl}}/ui-ux.html'%}current{% endif %} block header-nav text-center gutter-1-4 pad-t-1-4 pad-b-1-4 milli" href="{{site.baseurl}}/ui-ux/">UI/UX</a>
        </li>
        <li class="island-1-8">
          <a class="{% if page.url == '{{site.baseurl}}/web-design.html'%}current{% endif %} block header-nav text-center gutter-1-4 pad-t-1-4 pad-b-1-4 milli" href="{{site.baseurl}}/web-design/">Web Design</a>
        </li>
        <li class="island-1-8">
          <a class="block header-nav text-center gutter-1-4 pad-t-1-4 pad-b-1-4 milli" href="#about-me">About Me</a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    {{content}}
  </main>


<footer>
  <div class="pad-b-2 pad-t-2">
    <div class="text-center push-2">
      <h3 class="push-0">Say hi to me!</h3>
      <a class="push-2">design@katrinasunter.ca</a>
    </div>
    <div class="text-center">
      <a class="inline-block" href="https://www.behance.net/KatSunter">
        <img class="icon i-32" src="{{site.baseurl}}/icons/behance-icon.svg" alt="">
      </a>
      <a class="inline-block" href="https://www.instagram.com/kattysun8/">
        <img class="icon i-32" src="{{site.baseurl}}/icons/instagram-icon.svg" alt="">
      </a>
      <a class="inline-block" href="https://vimeo.com/kattysun8">
        <img class="icon i-32" src="{{site.baseurl}}/icons/vimeo-icon.svg" alt="">
      </a>
    </div>
  </div>
</footer>


</body>
