<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <link rel="icon" type="image/png" href="{{site.baseurl}}/icons/fav-icon.png">
  <meta name="description" content="{{page.description}}">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="https://use.typekit.net/zzm5cni.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Used by Facebook, Pinterest, Google+ -->
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{page.title}}">
  <meta property="og:url" content="https://katrinasunter.ca">
  <meta property="og:image" content="https://katrinasunter.ca/images/me-banner.jpg">
  <meta property="og:site_name" content="Katrina Sunter">
  <meta property="og:description" content="{{page.description}}">

  <!-- Used by Facebook, Pinterest, Google+ -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{page.title}}">
  <meta name="twitter:url" content="https://katrinasunter.ca">
  <meta name="twitter:description" content="{{page.description}}">
  <meta name="twitter:image" content="https://katrinasunter.ca/images/mebanner.jpg">

</head>
<body class="{{page.bodyClass}}">

  <header class="header island-1-2 push">
    <nav class="nav">
      <div class="grid grid-middle wrapper nav-wrapper">
        <div class="unit xs-1 s-1 m-1-3 l-1-3 xl-1-3 logo-wrap gutter-1-2">
          <a href="{{site.baseurl}}/" class="logo inline-block">
            <img class="img-flex" alt="Kat Sunter" src="{{site.baseurl}}/images/logo-white.svg">
          </a>
        </div>
        <ul class="nav-list unit xs-1 s-1 m-2-3 l-2-3 xl-2-3 list-group-inline text-center push-0">
          <li class="island-1-8">
            <a class="{% if page.url == '/' %}current{% endif %} nav-header text-center gutter-1-4 pad-t-1-4 pad-b-1-4" href="{{site.baseurl}}/">HOME</a>
          </li>
          <li class="island-1-8">
            <a class="nav-header text-center gutter-1-4 pad-t-1-4 pad-b-1-4 nav-list-2" href="{{site.baseurl}}/#projects">PROJECTS</a>
          </li>
          <li class="island-1-8">
            <a class="{% if page.url contains 'about'%}current{% endif %} nav-header text-center gutter-1-4 pad-t-1-4 pad-b-1-4 nav-list-2" href="{{site.baseurl}}/about/">ABOUT</a>
          </li>
          <li class="island-1-8">
            <a class="{% if page.url contains 'strategy'%}current{% endif %} nav-header text-center gutter-1-4 pad-t-1-4 pad-b-1-4 nav-list-2" href="{{site.baseurl}}/strategy/">STRATEGY</a>
          </li>
          <li class="island-1-8">
            <a class="nav-header text-center gutter-1-4 pad-t-1-4 pad-b-1-4 nav-list-2" href="#contact-me">CONTACT</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    {{content}}
  </main>


<footer class="footer pad-b-1-4">
  <div id="contact-me" class="grid pad-b-2 pad-t-2 wrapper footer-wrapper grid-stretch">
    <div class="unit xs-1 s-1 m-1-3 l-1-3">
      <div class="text-center push-1-2">
        <h3 class="push-1-4">Contact</h3>
        <a class="micro">design@katrinasunter.ca</a>
      </div>
    </div>
    <!--
    <div class="unit xs-1 s-1 m-1-3 l-1-3">
      <div class="text-center push-1-2">
        <h3 class="push-1-4">References</h3>
        <span class="micro">Don Masters<br><a class="mediaplus-white micro" href="http://mediaplusadvertising.com/">Mediaplus Advertising</a><br><strong>President & Creative Director</strong></span>
        <p class="micro">dmasters@mediaplusadvertising.com</p>
      </div>
    </div>
     -->
     <div class="unit xs-1 s-1 m-1-3 l-1-3">
       <div class="text-center push-1-2">
         <h3 class="push-1-4">Thanks for visiting!</h3>
       </div>
     </div>
    <div class="unit xs-1 s-1 m-1-3 l-1-3 text-center push-1-2">
      <h3 class="push-1-4">Want to see more?</h3>
      <div>
        <a href="https://www.instagram.com/kattysun8/" target="_blank" aria-label="Instagram"><i class="fa fa-instagram gutter-1-4"></i></a>
        <a href="https://www.behance.net/KatSunter" target="_blank" aria-label="Behance"><i class="fa fa-behance gutter-1-4"></i></a>
        <a href="https://vimeo.com/kattysun8" target="_blank"><i class="fa fa-vimeo gutter-1-4" aria-label="Vimeo"></i></a>
        <a href="https://www.linkedin.com/in/katrina-sunter-b0312781/" target="_blank" aria-label="LinkedIn"><i class="fa fa-linkedin gutter-1-4"></i></a>
      </div>
    </div>
  </div>
  <p class="micro text-center">© 2019 Katrina Sunter</p>
</footer>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Katrina Sunter",
    "url": "https://katrinasunter.ca",
    "image": "https://katrinasunter.ca/images/aboutme.jpg",
    "description": "Graphic designer Katrina Sunter portfolio",
    "email": "design@katrinasunter.ca",
    "jobTitle": "Graphic Designer"
  }
</script>

</body>
